{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block route %}
    Profile
{% endblock %}

{% block body %}

    <br><br><br>
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-md-3 ">
                <div class="list-group">
                    <a href="#profile" data-toggle="tab" class="list-group-item list-group-item-action active">Profile</a>
                    <a href="#login" data-toggle="tab" class="list-group-item list-group-item-action">Login Information</a>
                    <a href="#order" data-toggle="tab" class="list-group-item list-group-item-action">My Orders</a>
                </div>
            </div>
            <div class="tab-content" style="width: 800px;">
            <div class="tab-pane active" id="profile">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Profile</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{{ path('profile_edit') }}">
                                    <div class="form-group row">
                                        <label for="fullname" class="col-4 col-form-label">Fullname</label>
                                        <div class="col-8">
                                            <input id="fullname" name="fullname" placeholder="Fullname" class="form-control here" value="{{ client.fullname }}" required="required" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="birthdate" class="col-4 col-form-label">Date Of Birth</label>
                                        <div class="col-8">
                                            <input id="birthdate" name="birthdate" placeholder="Date Of Birth" value="{{ client.birthdate|date("d/m/Y") }}" class="form-control here" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="address1" class="col-4 col-form-label">Address 1</label>
                                        <div class="col-8">
                                            <input id="address1" name="address1" placeholder="Address 1" class="form-control here" value="{{ client.address1 }}" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="address2" class="col-4 col-form-label">Address 2</label>
                                        <div class="col-8">
                                            <input id="address2" name="address2" placeholder="Address 2" class="form-control here" value="{{ client.address2 }}" required="required" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-4 col-form-label">City</label>
                                        <div class="col-8">
                                            <input id="city" name="city" placeholder="City" class="form-control here" value="{{ client.city }}" required="required" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="state" class="col-4 col-form-label">State</label>
                                        <div class="col-8">
                                            <input id="state" name="state" placeholder="State" class="form-control here" value="{{ client.state }}" required="required" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="postcode" class="col-4 col-form-label">Post Code</label>
                                        <div class="col-8">
                                            <input id="postcode" name="postcode" placeholder="Post Code" class="form-control here" value="{{ client.postcode }}" required="required" type="text" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>


            <div class="tab-pane" id="login">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Your Login Information</h4>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{{ path('profile_edit_login' , {id : app.user.id}) }}">
                                        <div class="form-group row">
                                            <label for="username" class="col-4 col-form-label">Username</label>
                                            <div class="col-8">
                                                <input id="username" name="username" placeholder="Username" class="form-control here" value="{{ app.user.loginName }}" required="required" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-4 col-form-label">Email</label>
                                            <div class="col-8">
                                                <input id="email" name="email" placeholder="Email" value="{{ app.user.email }}" class="form-control here" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-4 col-form-label">Password</label>
                                            <div class="col-8">
                                                <input id="password" name="password" placeholder="Password" class="form-control here" value="•••••" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-4 col-8">
                                                <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

                <div class="tab-pane" id="order">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Your Orders :</h4>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Status</th>
                                                <th>Order Date</th>
                                                <th>Order Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for commande in commandes %}
                                                <tr>
                                                    <td><a href="{{ path('confirm',{id : commande.id}) }}">{{ commande.id }}</a></td>
                                                    <td>{{ commande.status }}</td>
                                                    <td>{{ commande.orderDate|date("d/m/Y") }}</td>
                                                    <td>{{ commande.orderTotal }} $</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">no orders found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation">
                                            {{ knp_pagination_render(commandes) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




                </div>


            </div>
        </div>
    </div>
    <br><br><br><br>

{% endblock %}

{% block javascripts %}

{% endblock %}