{% extends 'base.html.twig' %}

{% block title %}Edit Login{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block route %}
    Profile
{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#login" class="list-group-item list-group-item-action active">Login Information</a>
                </div>
            </div>
           <div class="tab-pane" id="profile" style="width: 800px;">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Your Login Information</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            {{ form_start(form) }}
                                    <div class="form-group row">
                                        <label for="username" class="col-4 col-form-label">Username</label>
                                        <div class="col-8">
                                    {{ form_row(form.loginName,{'label' : false, 'attr' : {'placeholder' : 'Your username ....','class' : 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                    {{ form_row(form.email,{'label' : false, 'attr' : {'placeholder' : 'Your email ....','class' : 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-4 col-form-label">Password</label>
                                        <div class="col-8">
                                    {{ form_row(form.plainPassword.first,{'label' : false, 'attr' : {'placeholder' : 'Your password ....','class' : 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="confirmPassword" class="col-4 col-form-label">Confirm Password</label>
                                        <div class="col-8">
                                    {{ form_row(form.plainPassword.second,{'label' : false, 'attr' : {'placeholder' : 'Your password again ....','class' : 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div>
                                            <button name="submit" type="submit" class="btn btn-primary">Update</button>
                                            <a href="{{ path('account') }}" class="btn btn-primary">Cancel</a>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}