{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block route %}
    Home
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.session.flashbag.get('PaymentSuccess') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('logged') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('MessageSuccess') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <hr>
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <li class="main-nav-list"><a href="{{ path('informatique') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>Informatique</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('telephonie') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>Telephonie</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('tv') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>TV | Photo & Son</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('gaming') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>Gaming</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('impression') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>Impression</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('reseau') }}" aria-expanded="false" aria-controls="fruitsVegetable"><span
                                        class="lnr lnr-arrow-right"></span>Reseaux & Securite</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">Product Filters</div>
                    <div class="common-filter">
                        <div class="head">Stock</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="available" name="color" value="available"><label for="black">Available</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="soldout" name="color" value="soldout"><label for="balckleather">Sold Out</label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Price</div>
                        <div class="price-range-area">
                            <div id="price-range"></div>
                            <div class="value-wrapper d-flex">
                                <div class="price">Price:</div>
                                <span>$</span>
                                <div id="lower-value"></div>
                                <div class="to">to</div>
                                <span>$</span>
                                <div id="upper-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">

                <hr>
                <div class="row">
                    {% if articles | length > 0 %}
                        {% for article in articles %}
                            <div class="col-md-4">
                                <figure class="card card-product">
                                    <div class="img-wrap"><a href="{{ path('article', {id : article.id}) }}"><img src="/uploads/{{ article.image }}"></a></div>
                                    <figcaption class="info-wrap">
                                        <h4 class="title"><a href="{{ path('article', {id : article.id}) }}">{{ article.nom }}</a></h4>
                                        {% if article.quantite == 0 %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;">Sold Out</span>
                                            {% else %}
                                                <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;"
                                                >In Stock</span>
                                        {% endif %}
                                        <p class="desc">{{ article.description }}</p>
                                    </figcaption>
                                    <div class="bottom-wrap">
                                        {% if article.quantite > 0 %}
                                        <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-sm btn-primary float-right">Order Now</a>
                                        {% else %}
                                            <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-sm btn-primary float-right disabled">Order Now</a>
                                        {% endif %}
                                        <div class="price-wrap h5">
                                            <span class="price-new">{{ article.prix }} $</span>
                                        </div> <!-- price-wrap.// -->
                                    </div> <!-- bottom-wrap.// -->
                                </figure>
                            </div> <!-- col // -->

                        {% endfor %}
                    {% else %}
                        <p>Aucun produit !</p>
                    {% endif %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(articles) }}
                </div>


            </div>

        </div>

    </div>





{% endblock %}

{% block javascripts %}

{% endblock %}
