{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}

    <div class="row" style="margin-left: 500px;">
        <div class="col-md-8 col-md-offset-1">
            <fieldset>
                <legend>Authentification Information Details</legend>
                <div style="width: 200%;">
                    <div class="form-group">
                        <div class="col-sm-4">
                            {{ form_row(registrationForm.email,{'label' : 'Email', 'attr' : {'placeholder' : 'Your email ....','class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            {{ form_row(registrationForm.plainPassword,{'label' : 'Password', 'attr' : {'placeholder' : 'Your password ....','class' : 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            {{ form_row(registrationForm.confirm_password,{'label' : 'Confirm password', 'attr' : {'placeholder' : ' ....','class' : 'form-control'}}) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="pull-right">
                                <a href="{{ path('home') }}" class="btn btn-lg">Cancel</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
