{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block route %}
    Registration
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-7" style="margin: 0 auto 0 auto;">
                    <div class="login_form_inner">
                        <h3>Authentification Information Details</h3>
                        <label for="username" class="col-4 col-form-label">Username</label>
                        <div class="col-md-12 form-group">
                                {{ form_row(registrationForm.loginName,{'label' : false, 'attr' : {'placeholder' : 'Username ....','class' : 'form-control'}}) }}
                            </div>
                        <label for="email" class="col-4 col-form-label">Email</label>
                        <div class="col-md-12 form-group">
                                {{ form_row(registrationForm.email,{'label' : false, 'attr' : {'placeholder' : 'Email ....','class' : 'form-control'}}) }}
                            </div>
                        <label for="password" class="col-4 col-form-label">Password</label>
                        <div class="col-md-12 form-group">
                                {{ form_row(registrationForm.plainPassword.first,{'label' : false, 'attr' : {'placeholder' : 'Password ....','class' : 'form-control'}}) }}
                            </div>
                        <label for="confirm" class="col-4 col-form-label">Confirm Password</label>
                        <div class="col-md-12 form-group">
                                {{ form_row(registrationForm.plainPassword.second,{'label' : false, 'attr' : {'placeholder' : ' ....','class' : 'form-control'}}) }}
                            </div>

                            <div class="col-md-12 form-group">
                                <button style="display: block;
    border-radius: 0px;
    line-height: 38px;
    width: 100%;
    text-transform: uppercase;
    border: none;" type="submit" value="submit" class="primary-btn">Sign up</button>
                            </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ form_end(registrationForm) }}
{% endblock %}
