{% extends 'baseAdmin.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1><li class="fas fa-clipboard-list"></li> Orders</h1>
    <table class="table" id="dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Client</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Order Total</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.client.fullname }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.orderDate|date("Y/m/d H:m:s") }}</td>
                <td>{{ order.orderTotal }} $</td>
                <td>
                    <a href="{{ path('orderDetail',{id : order.id}) }}" class="btn btn-primary">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
    </script>
{% endblock %}
