{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}
{% block route %}
    Confirmation
{% endblock %}

{% block body %}
    <section class="order_details section_gap">
        <div class="container">
            {% if commande.status == "Completed" %}
            <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
            {% else %}
            <h3 class="title_confirmation" style="color: red;">You order is canceled.</h3>
            {% endif %}
            <div class="row order_d_inner">
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li><span>Order number</span> : {{ commande.id }}</li>
                            <li><span>Date</span> : {{ commande.orderDate|date("d/m/Y") }}</li>
                            <li><span>Total</span> : {{ commande.orderTotal }} $</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li><span>Fullname</span> : {{ commande.client.fullname }}</li>
                            <li><span>Address 1</span> : {{ commande.client.address1 }}</li>
                            <li><span>Address 2</span> : {{ commande.client.address2 }}</li>
                            <li><span>Address 2</span> : {{ commande.client.country }}</li>
                            <li><span>City </span> : {{ commande.client.city }}</li>
                            <li><span>State</span> : {{ commande.client.state }}</li>
                            <li><span>Post Code</span> : {{ commande.client.postcode }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for detail in details %}
                        <tr>
                            <td>
                                <p>{{ detail.articles.nom }}</p>
                            </td>
                            <td>
                                <h5>x {{ detail.quantite }}</h5>
                            </td>
                            <td>
                                <p>{{ detail.articles.prix*detail.quantite }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>{{ commande.orderTotal }} $</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {% if commande.status == "Completed" %}
                    {{ form_start(form) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                    {% else %}

                    {% endif %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
