{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block route %}
    Panier
{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.session.flashbag.get('ProductSuccess') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('ProductFail') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {% if items | length > 0 %}
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Produit</th>
                <th style="width:10%">Prix</th>
                <th style="width:8%">Quantite</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="uploads/{{ item.article.image }}" class="img-responsive" width="70" height="70"/></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{ item.article.nom }}</h4>
                            <p>{{ item.article.description }}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">{{ item.article.prix }} $</td>
                <form id="form" method="POST" action="{{ path('panier_add', {id : item.article.id}) }}">
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" name="quantity" id="quantity" min="1" max="{{ item.article.quantite }}" value="{{ item.quantite }}">
                </td>
                <td data-th="Subtotal" class="text-center">{{ item.article.prix * item.quantite }} $</td>
                <td class="actions" data-th="">
                    <button id="submit" type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                </form>
                    <a href="{{ path('panier_remove', {id : item.article.id}) }}">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total {{ total }} $</strong></td>
                <td><a href="{{ path('payment') }}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
            </tfoot>
        </table>
        {% else %}
            <p>Aucun produit !</p>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
