{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link href="https//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-light p-3">
            <h1>Resultat de la recherche :</h1>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <hr>
                <h1 class="my-4">Categories</h1>
                <div class="list-group">
                    <a href="{{ path('informatique') }}" class="list-group-item">Informatique</a>
                    <a href="{{ path('telephonie') }}" class="list-group-item">Telephonie</a>
                    <a href="{{ path('tv') }}" class="list-group-item">TV | Photo & Son</a>
                    <a href="{{ path('gaming') }}" class="list-group-item">Gaming</a>
                    <a href="{{ path('impression') }}" class="list-group-item">Impression</a>
                    <a href="{{ path('reseau') }}" class="list-group-item">Reseaux & Securite</a>
                </div>

            </div>

            <div class="col-lg-9">

                <hr>
                <div class="row">
                    {% if resultat | length > 0 %}
                        {% for resultat in resultat %}
                            <div class="col-md-4">
                                <figure class="card card-product">
                                    <div class="img-wrap"><a href="{{ path('article', {id : resultat.id}) }}"><img src="uploads/{{ resultat.image }}"></a></div>
                                    <figcaption class="info-wrap">
                                        <h4 class="title"><a href="{{ path('article', {id : resultat.id}) }}">{{ resultat.nom }}</a></h4>
                                        {% if resultat.quantite == 0 %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;">Sold Out</span>
                                        {% else %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;"
                                            >In Stock</span>
                                        {% endif %}
                                        <p class="desc">{{ resultat.description }}</p>
                                    </figcaption>
                                    <div class="bottom-wrap">
                                        {% if resultat.quantite > 0 %}
                                            <a href="{{ path('panier_add', {id : resultat.id}) }}" class="btn btn-sm btn-primary float-right">Order Now</a>
                                        {% else %}
                                            <a href="{{ path('panier_add', {id : resultat.id}) }}" class="btn btn-sm btn-primary float-right disabled">Order Now</a>
                                        {% endif %}
                                        <div class="price-wrap h5">
                                            <span class="price-new">{{ resultat.prix }} $</span>
                                        </div> <!-- price-wrap.// -->
                                    </div> <!-- bottom-wrap.// -->
                                </figure>
                            </div> <!-- col // -->

                        {% endfor %}
                    {% else %}
                        {% for message in app.session.flashbag.get('error') %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(resultat) }}
                </div>
            </div>

        </div>

    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
