{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block route %}
    Search Results
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-5">
                <hr>
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <li class="main-nav-list"><a href="{{ path('informatique') }}" aria-expanded="false" aria-controls="informatique"><span
                                        class="lnr lnr-arrow-right"></span>Informatique</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('telephonie') }}" aria-expanded="false" aria-controls="telephonie"><span
                                        class="lnr lnr-arrow-right"></span>Telephonie</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('tv') }}" aria-expanded="false" aria-controls="tv"><span
                                        class="lnr lnr-arrow-right"></span>TV | Photo & Son</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('gaming') }}" aria-expanded="false" aria-controls="gaming"><span
                                        class="lnr lnr-arrow-right"></span>Gaming</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('impression') }}" aria-expanded="false" aria-controls="impression"><span
                                        class="lnr lnr-arrow-right"></span>Impression</a>
                        </li>
                        <li class="main-nav-list"><a href="{{ path('reseau') }}" aria-expanded="false" aria-controls="reseau"><span
                                        class="lnr lnr-arrow-right"></span>Reseaux & Securite</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-9">

                <hr>
                <div class="row">
                    {% if resultat | length > 0 %}
                        {% for resultat in resultat %}
                            <div class="col-md-4">
                                <figure class="card card-product">
                                    <div class="img-wrap"><a href="{{ path('article', {id : resultat.id}) }}"><img src="uploads/{{ resultat.image }}"></a></div>
                                    <figcaption class="info-wrap">
                                        <h4 class="title"><a href="{{ path('article', {id : resultat.id}) }}">{{ resultat.nom }}</a></h4>
                                        {% if resultat.quantite == 0 %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;">Sold Out</span>
                                        {% else %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;"
                                            >In Stock</span>
                                        {% endif %}
                                        <p class="desc">{{ resultat.description }}</p>
                                        <div class="rating-wrap">
                                            <div class="label-rating">{{ article.reviews|length }} Reviews</div>
                                            <div class="label-rating">{{ article.details|length }} Orders </div>
                                        </div>
                                    </figcaption>
                                    <div class="bottom-wrap">
                                        {% if resultat.quantite > 0 %}
                                            <a href="{{ path('panier_add', {id : resultat.id}) }}" class="btn btn-sm btn-primary float-right">Order Now</a>
                                        {% else %}
                                            <a href="{{ path('panier_add', {id : resultat.id}) }}" class="btn btn-sm btn-primary float-right disabled">Order Now</a>
                                        {% endif %}
                                        <div class="price-wrap h5">
                                            <span class="price-new">{{ resultat.prix }} $</span>
                                        </div> <!-- price-wrap.// -->
                                    </div> <!-- bottom-wrap.// -->
                                </figure>
                            </div> <!-- col // -->

                        {% endfor %}
                    {% else %}
                        {% for message in app.session.flashbag.get('error') %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(resultat) }}
                </div>
            </div>

        </div>

    </div>



{% endblock %}
