{% extends 'base.html.twig' %}

{% block title %}Reseaux{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-light p-3">
            <h1>Les produits reseaux</h1>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <hr>
                <h1 class="my-4">Categories</h1>
                <div class="list-group">
                    <a href="{{ path('informatique') }}" class="list-group-item">Informatique</a>
                    <a href="{{ path('telephonie') }}" class="list-group-item">Telephonie</a>
                    <a href="{{ path('tv') }}" class="list-group-item">TV | Photo & Son</a>
                    <a href="{{ path('gaming') }}" class="list-group-item">Gaming</a>
                    <a href="{{ path('impression') }}" class="list-group-item">Impression</a>
                    <a href="{{ path('reseau') }}" class="list-group-item">Reseaux & Securite</a>
                </div>

            </div>

            <div class="col-lg-7">

                <hr>


                <div class="row">
                    {% if articles | length > 0 %}
                        {% for article in articles %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{{ path('article', {id : article.id}) }}"><img class="card-img-top" src="uploads/{{ article.image }}" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="#">{{ article.nom }}</a>
                                        </h4>
                                        {% if article.quantite == 0 %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;">Sold Out</span>
                                        {% endif %}
                                        <h5>{{ article.prix }} $</h5>
                                        <p class="card-text">{{ article.description }}</p>
                                        <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-success float-right">
                                            <i class="fa fa-shopping-cart mr-1"></i>
                                            Ajouter
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>Aucun produit !</p>
                    {% endif %}
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>

        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
