{% extends 'base.html.twig' %}

{% block title %}Article Information{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/shop-item.css') }}" rel="stylesheet">

{% endblock %}

{% block route %}
    Product Details
{% endblock %}

{% block body %}

<div class="container">
    <hr>
        <div class="product_image_area">
            <div class="container">
                <div class="row s_product_inner">
                    <div class="col-lg-6">
                            <div class="single-prd-item">
                                <img style="width: 450px;height: 450px" class="img-fluid" src="/uploads/{{ article.image }}">
                            </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">

                        <form class="s_product_text" action="{{ path('panier_add', {id : article.id}) }}" method="post">
                            <h3>{{ article.nom }}</h3>
                            <h2>{{ article.prix }}$</h2>
                            <ul class="list">
                                <li><a class="active" href="#"><span>Category</span>: {{ article.categorie }}</a></li>
                                {% if article.quantite > 0 %}
                                    <li><a href="#"><span>Availibility</span><span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;"> : In Stock</span></a></li>
                                {% else %}
                                    <li><a href="#"><span>Availibility</span><span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;"> : Sold Out</span></a></li>
                                {% endif %}
                            </ul>
                            <p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
                                something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
                                during the winter.</p>
                            <div class="product_count">
                                <label for="qty">Quantity:</label>
                                <input type="number" name="quantity" id="quantity" min="1" max="{{ article.quantite }}"  title="Quantity:" class="input-text qty">
                            </div>
                            <div class="card_area d-flex align-items-center">
                                {% if article.quantite > 0 %}
                                <button id="submit" class="primary-btn" type="submit">Add To Cart</button>
                                {% else %}
                                    <button id="submit" class="primary-btn" type="submit" disabled>Add To Cart</button>
                                {% endif %}
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Single Product Area =================-->

        <!--================Product Description Area =================-->
        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                           aria-selected="false">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>{{ article.description }}</p>
                    </div>
                    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="row total_rate">
                                    <div class="col-6">
                                        <div class="box_total">
                                            <h5>Overall</h5>
                                            <h4>4.0</h4>
                                            <h6>({{ article.reviews| length }} Reviews)</h6>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="rating_list">
                                            <h3>Based on {{ article.reviews| length }} Reviews</h3>
                                            <ul class="">
                                                <li>5 Star <i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i
                                                                class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i> (01)</li>
                                                <li>4 Star <i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i
                                                                class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: gray"></i> (01)</li>
                                                <li>3 Star <i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i
                                                                class="fa fa-star" style="color: gray"></i><i class="fa fa-star" style="color: gray"></i> (01)</li>
                                                <li>2 Star <i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: gray"></i><i
                                                                class="fa fa-star" style="color: gray"></i><i class="fa fa-star" style="color: gray"></i> (01)</li>
                                                <li>1 Star <i class="fa fa-star" style="color: yellow"></i><i class="fa fa-star" style="color: gray"></i><i class="fa fa-star" style="color: gray"></i><i
                                                                class="fa fa-star" style="color: gray"></i><i class="fa fa-star" style="color: gray"></i> (01)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% for review in article.reviews %}

                                <div class="review_list">
                                    <div class="review_item">
                                        <div class="media">


                                            <div class="media-body">
                                                <hr>
                                                <h4>{{ review.username }}</h4>
                                                <h5>{{ review.createdAt|date('Y-m-d H:i:s') }}</h5>
                                                {% if review.rating == 1 %}
                                                <i class="fa fa-star"></i>
                                                    {% endif %}
                                                {% if review.rating == 2 %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {% if review.rating == 3 %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {%  if review.rating == 4 %}
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {% if review.rating == 5  %}
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                    {% endif %}
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    {% if review.username == app.user.loginName %}
                                                        <a style="float: right;" href="{{ path('review_remove', {id : review.id}) }}" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <p>{{ review.content }}</p>


                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                <div class="review_box">
                                    <h4>Add a Review</h4>
                                    <p>Your Rating:</p>
                                    <ul name="rate" class="list">
                                        <li><i class="fa fa-star" data-index="0"></i></li>
                                        <li><i class="fa fa-star" data-index="1"></i></li>
                                        <li><i class="fa fa-star" data-index="2"></i></li>
                                        <li><i class="fa fa-star" data-index="3"></i></li>
                                        <li><i class="fa fa-star" data-index="4"></i></li>
                                    </ul>
                                    <br>
                                    <input id="inp" type="text" value="" hidden>
                                    <div class="col-md-12">
                                        {{ form_start(reviews) }}
                                        <div class="form-group">
                                                {{ form_row(reviews.content,  {'label' : false,'attr' : {'placeholder' : "Review",'class' : 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button id="submit" type="submit" value="submit" class="primary-btn">Submit Now</button>
                                        </div>
                                    {{ form_end(reviews) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Product Description Area =================-->
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var ratedIndex = -1;
        $(document).ready((function () {
            resetStarColors();

            if(localStorage.getItem('ratedIndex') != null)
            {
                setStars(parseInt(localStorage.getItem('ratedIndex')));
            }
            $('.list .fa').on('click', function () {
                ratedIndex = parseInt($(this).data('index'));
                localStorage.setItem('ratedIndex',ratedIndex);
                saveToTheDB();
            });

            $('.list .fa').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.list .fa').mouseleave(function () {
                resetStarColors();
                if(ratedIndex != -1)
                    setStars(ratedIndex);
            });

        }));
        
        function saveToTheDB() {
                $.ajax({
                    url: "{{ path('article',{id : article.id}) }}",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        ratedIndex: ratedIndex
                    }
                });

        }

        function setStars(max) {
            for(var i=0; i <= max; i++)
                $('.list .fa:eq('+i+')').css('color', 'yellow');
        }
        function resetStarColors() {
            $('.list .fa').css('color' , 'grey');
        }
    </script>

{% endblock %}
