{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="css/shop-item.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% for article in articles %}
 <div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                <a href="{{ path('informatique') }}" class="list-group-item active">Informatique</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>


        <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img style="width: 250px;" class="card-img-top img-fluid" src="/uploads/{{ article.image }}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ article.nom }}</h3>
            <h4>{{ article.prix }} Dt</h4>
            <p class="card-text">{{ article.description  }}</p>
              <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-success float-right">
                  <i class="fas fa-shopping-cart mr-1"></i>
                  Ajouter
              </a>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
              {{ article.reviews | length }}
            Article Reviews
          </div>
            {% for review in article.reviews %}
          <div class="card-body">
              {% if review.username == app.user.loginName %}
              <a style="float: right;" href="{{ path('review_remove', {id : review.id}) }}" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash">X</i>
              </a>
             {% endif %}
            <p>{{ review.content }}</p>
            <small class="text-muted">Posted by {{ review.username }} on {{ review.createdAt|date('Y-m-d H:i:s') }}</small>
            <hr>
              {% endfor %}
              {{ form_start(reviews) }}
              {{ form_row(reviews.content,  {'label' : 'Review','attr' : {'placeholder' : "Review",'class' : 'form-control'}}) }}
              <button type="submit" class="btn btn-success">Leave a Review</button>
              {{ form_end(reviews) }}
          </div>

        </div>

      </div>

    </div>

  </div>
{% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
