{% extends 'base.html.twig' %}

{% block title %}Telephonie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block route %}
    Categorie : Telephonie
{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-light p-3">
            <h1>Les produits telephoniques</h1>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <hr>
                <h1 class="my-4">Categories</h1>
                <div class="list-group">
                    <a href="{{ path('informatique') }}" class="list-group-item">Informatique</a>
                    <a href="{{ path('telephonie') }}" class="list-group-item">Telephonie</a>
                    <a href="{{ path('tv') }}" class="list-group-item">TV | Photo & Son</a>
                    <a href="{{ path('gaming') }}" class="list-group-item">Gaming</a>
                    <a href="{{ path('impression') }}" class="list-group-item">Impression</a>
                    <a href="{{ path('reseau') }}" class="list-group-item">Reseaux & Securite</a>
                </div>

            </div>

            <div class="col-lg-9">

                <hr>
                <div class="row">
                    {% if articles | length > 0 %}
                        {% for article in articles %}
                            <div class="col-md-4">
                                <figure class="card card-product">
                                    <div class="img-wrap"><a href="{{ path('article', {id : article.id}) }}"><img src="uploads/{{ article.image }}"></a></div>
                                    <figcaption class="info-wrap">
                                        <h4 class="title"><a href="{{ path('article', {id : article.id}) }}">{{ article.nom }}</a></h4>
                                        {% if article.quantite == 0 %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: red;">Sold Out</span>
                                        {% else %}
                                            <span style="display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #44a038;"
                                            >In Stock</span>
                                        {% endif %}
                                        <p class="desc">{{ article.description }}</p>
                                    </figcaption>
                                    <div class="bottom-wrap">
                                        {% if article.quantite > 0 %}
                                            <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-sm btn-primary float-right">Order Now</a>
                                        {% else %}
                                            <a href="{{ path('panier_add', {id : article.id}) }}" class="btn btn-sm btn-primary float-right disabled">Order Now</a>
                                        {% endif %}
                                        <div class="price-wrap h5">
                                            <span class="price-new">{{ article.prix }} $</span>
                                        </div> <!-- price-wrap.// -->
                                    </div> <!-- bottom-wrap.// -->
                                </figure>
                            </div> <!-- col // -->

                        {% endfor %}
                    {% else %}
                        <p>Aucun produit !</p>
                    {% endif %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(articles) }}
                </div>


            </div>

        </div>

    </div>



{% endblock %}
